@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-specials-titles: "Playwrite DK Loopet", serif; /* Atualizado */
  --font-poppins: "Poppins", sans-serif;
  --font-kanit: "Kanit", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

h1, h2, h3, h4 {
  font-family: var(--font-kanit); /* Fonte para títulos */
}

.special-title {
  font-family: var(--font-specials-titles); /* Fonte especial para títulos */
  font-weight: 500;
}